header {
  min-height: 700px;
  .logo {
    position: relative;
    z-index: 1;
    img {
      width: 5%;
      height: 5%;
    }
  }
  .container {
    min-height: 100%;
    position: relative;
    z-index: 2;
    color: $color-white;
    margin-top: 10%;
    .text {
      h1 {
        color: $color-brown-light;
        font-family: 'PT Serif', serif;
      }
    }
    .time {
      h1 {
        color: $color-white;
        font-family: 'PT Serif', serif;
      }
      h6 {
        color: $color-brown;
        padding-bottom: 10px;
        border-bottom: 2px solid $color-brown;
      }
    }
  }
  video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .multiply {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $color-dark;
    mix-blend-mode: multiply;
  }
  .controler {
    position: fixed;
    top: 40%;
    left: 0%;
    z-index: 3;
    ul {
      list-style-type: none;
      display: block;
      li {
        margin: 25px 0;
        padding: 3px 10px;
        border: 3px solid $color-brown;
        border-radius: 50%;
        color: $color-brown;
        transition: 0.5s;
      }
      li:hover {
        border: 3px solid $color-white;
        border-radius: 0;
        color: $color-white;
        transform: rotate(405deg);
        transition: 0.5s;
      }
      .li-scroll {
        margin: 25px 0;
        padding: 3px 10px;
        border: 3px solid $color-dark;
        border-radius: 50%;
        color: $color-dark;
        transition: 0.5s;
      }
      .li-scroll:hover {
        border: 3px solid $color-brown;
        border-radius: 0;
        color: $color-brown;
        transform: rotate(405deg);
        transition: 0.5s;
      }
      a:hover {
        text-decoration: none;
      }
    }
  }
}
