#product-classic {
  background-color: $color-brown-light;
  .container {
    .row {
      .col-md-6 {
        .text {
          color: $color-white;
          h1 {
            font-family: 'Signika', sans-serif;
            color: $color-dark;
            font-weight: 700;
          }
          .price {
            font-weight: 700;
            font-family: 'Signika', sans-serif;
            font-size: 1.3rem;
            color: $color-dark;
          }
        }
      }
      .col-md-6 {
        .d-flex {
          min-height: 500px;
          background: $color-dark;
          border-radius: 50%;
          img {
            width: 40%;
            height: 40%;
          }
        }
      }
    }
  }
}
