// Style Body
body {
  background: $color-dark;
  font-family: 'Fira Sans', sans-serif;
}

// Margin and padding classes
$spaceamounts: (6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26);

@each $space in $spaceamounts {
  .m-#{$space} {
    margin: #{$space}rem;
  }
  .my-#{$space} {
    margin: #{$space}rem 0;
  }
  .mx-#{$space} {
    margin: 0 #{$space}rem;
  }
  .mr-#{$space} {
    margin-right: #{$space}rem;
  }
  .ml-#{$space} {
    margin-left: #{$space}rem;
  }
  .mt-#{$space} {
    margin-top: #{$space}rem;
  }
  .mb-#{$space} {
    margin-bottom: #{$space}rem;
  }
  .p-#{$space} {
    padding: #{$space}rem;
  }
  .py-#{$space} {
    padding: #{$space}rem 0;
  }
  .px-#{$space} {
    padding: 0 #{$space}rem;
  }
  .pr-#{$space} {
    padding-right: #{$space}rem;
  }
  .pl-#{$space} {
    padding-left: #{$space}rem;
  }
  .pt-#{$space} {
    padding-top: #{$space}rem;
  }
  .pl-#{$space} {
    padding-bottom: #{$space}rem;
  }
}
